* {
    margin: 0;
    padding: 0;
}

span,
h1,
h2,
h3,
a {
    white-space: nowrap;
}

/* SM */
@media (max-width: 600px) {

    h1,
    h2,
    h3 {
        white-space: wrap;
    }
}

:root {
    font-family: 'Roboto', sans-serif;
    --fontfamily-button: 'Inter', sans-serif;

    --bgcolor-dark: #1F2937;
    --bgcolor-quote: #E5E7EB;
    --bgcolor-blue: #3882F6;
    --bgcolor-default: white;

    --fontcolor-primary: black;
    --fontcolor-secondary: #E5E7EB;
    --fontcolor-hero: #F9FAF8;
    --fontcolor-header: #F9FAF8;
    --fontcolor-information: #1F2937;
    --fontcolor-quote: #1F2937;

    --btncolor-blue: #3882F6;
    --btncolor-blue-hover: #2053a5;
    --btncolor-blue-active: #153870;

    --btncolor-blue2: #1F2937;
    --btncolor-blue2-hover: #3a4d68;
    --btncolor-blue2-active: #090c11;

    --fontsize-card-h: 24px;
    --fontsize-card-p: 18px;
    --fontsize-button: 18px;
    --fontsize-footer-small: 12px;
    --fontsize-secondary: 18px;
    --fontsize-header: 24px;
    --fontsize-heading: 36px;
    --fontsize-information: 36px;
    --fontsize-quote: 36px;
    --fontsize-hero: 48px;

    --fontweight-light: 300;
    --fontweight-regular: 400;
    --fontweight-extrabold: 700;

    font-weight: 400;
}

html {
    background-image: url("./assets/bgpattern2.png");
}



body {
    width: 100%;
    max-width: 1205px;
    min-width: 627px;
    outline: 1px solid black;
    position: relative;
    margin-inline: auto;
}

/* SM */
@media (max-width: 600px) {
    body {
        min-width: 300px;
    }
}

picture {
    overflow: hidden;
}

header {
    width: 100%;
    position: sticky;
    top: 0;

    background-color: var(--bgcolor-dark);
    z-index: 2;

}

nav {
    --padding-inline: 5vw;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid white;
    padding-inline: var(--padding-inline);
    padding-block: 20px;
    position: relative;
    box-sizing: border-box;
}

.nav-content {


    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;



    
}

.nav-content picture,
.nav-content img {
    max-width: 210px;
    height: auto;
    border-radius: 10px;
}

.nav-content__options {
    display: flex;
    column-gap: 34px;
}

/* SM */
@media (max-width: 600px) {
    .nav-content__options {
        display: none;
    }
}

.nav-content__options li {
    list-style: none;

    width: fit-content;
    height: fit-content;

    border: 1px solid transparent;

    padding-inline: 8px;
    padding-block: 4px;

    border-radius: 6px;
}

.nav-content__options li:hover {
    border: 1px solid white;
    background-color: var(--btncolor-blue2-hover);
}

.nav-content__options li:active {
    border: 1px solid white;
    background-color: var(--btncolor-blue2-active);
}

.nav-content__options li a {
    text-decoration: unset;

    font-size: var(--fontsize-header);
    color: var(--fontcolor-header);
}


/* MOBILE HAMBURGER */

.ham-toggle {
    display: none;
}

.ham-btn-mobile {
    aspect-ratio: 1 / 1;

    width: 60px;
    height: 60px;

    display: none;

    background-color: transparent;

    border: none;

    cursor: pointer;
}

.ham-btn-mobile picture,
.ham-btn-mobile img {
    width: 100%;
    height: 100%;
}



.ham-btn-mobile__dropdown-container {
    position: absolute;

    top: 100%;
    right: 0;

    width: fit-content;

    overflow: hidden;

    pointer-events: none;
}



.ham-btn-mobile__dropdown {
    background-color: var(--bgcolor-blue);

    list-style: none;

    padding-left: 50px;
    padding-right: 45px;
    padding-block: 40px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    gap: 13px;

    transform: translateY(-100%);

    transition: transform 0.4s ease;
}

.ham-btn-mobile__dropdown li a {
    text-decoration: none;
    color: var(--fontcolor-secondary);
    font-size: var(--fontsize-button);
}



@media (max-width: 600px) {

    .ham-btn-mobile {
        display: inline-flex;
    }

    .ham-toggle:checked~.ham-btn-mobile__dropdown-container {
        pointer-events: auto;
    }

    .ham-toggle:checked~.ham-btn-mobile__dropdown-container .ham-btn-mobile__dropdown {

        transform: translateY(0);
    }
}

/* FOOTER */

footer {
    width: 100%;

    padding-inline: var(--padding-inline);
    padding-block: 17px;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: var(--bgcolor-dark);
}

footer span {
    color: var(--fontcolor-secondary);

    font-size: var(--fontsize-footer-small);
    font-weight: var(--fontweight-light);
}

/* MAIN */

main {
    width: 100%;

    --padding-inline: 10%;
}