* {
    margin: 0;
    padding: 0;
}

span {
    white-space: nowrap;
}

:root {
    font-family: 'Karla', sans-serif;

    --bgcolor-dark: #1F2937;
    --bgcolor-quote: #E5E7EB;
    --bgcolor-blue: #3882F6;

    --fontcolor-primary: black;
    --fontcolor-secondary: #E5E7EB;
    --fontcolor-hero: #F9FAF8;
    --fontcolor-header: #F9FAF8;
    --fontcolor-information: #1F2937;
    --fontcolor-quote: #1F2937;

    --btncolor-blue: #3882F6;
    --btncolor-blue-hover: #2053a5;
    --btncolor-blue-active: #153870;

    --fontsize-card-p: 12px;
    --fontsize-footer-small: 12px;
    --fontsize-secondary: 18px;
    --fontsize-header: 24px;
    --fontsize-heading: 24px;
    --fontsize-information: 36px;
    --fontsize-quote: 36px;
    --fontsize-hero: 48px;

    --fontweight-light: 300;
    --fontweight-regular: 400;
    --fontweight-extrabold: 700;

    font-weight: 400;
}

picture {
    overflow: hidden;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: 1205px;
    min-width: 627px;
    border: 1px solid black;
}

nav {
    width: 100%;
    height: fit-content;
    background-color: var(--bgcolor-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

.nav-content {
    width: 100%;
    height: fit-content;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 53px;
    padding-block: 10px;
}

.nav-content picture,
.nav-content img {
    max-width: 160px;
    height: auto;
}

.nav-content__options {
    display: inline-flex;
    column-gap: 34px;
}

.nav-content__options li {
    list-style: none;
    width: fit-content;
    height: fit-content;
}

.nav-content__options li a {
    text-decoration: unset;
    font-size: var(--fontsize-header);
    color: var(--fontcolor-header);
}

main {
    width: 100%;
}

.section-hero {
    width: 100%;
    background-color: var(--bgcolor-dark);
    padding-inline: 96px;
    padding-block: 38px;
    box-sizing: border-box;
}

.section-hero article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    color: var(--fontcolor-hero);
    min-width: 600px;
}

.section-hero article picture,
.section-hero article img {
    border-radius: 10px;
}

.section-hero__text-container {
    max-width: 343px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 16px;
}

.section-hero__text-container h1 {
    font-size: var(--fontsize-hero);
    font-weight: var(--fontweight-extrabold);
}

.section-hero__text-container p {
    font-size: var(--fontsize-secondary);
    font-weight: var(--fontweight-regular);
}

#download-button {
    appearance: none;
    font: inherit;
    color: var(--fontcolor-secondary);
    background-color: var(--btncolor-blue);
    padding-inline: 32px;
    padding-block: 5px;
    border-radius: 4px;
    border: 2px solid white;
}

#download-button:hover {
    cursor: pointer;
    background-color: var(--btncolor-blue-hover)
}

#download-button:active {
    background-color: var(--btncolor-blue-active);
}

.section-features {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 73px;
    row-gap: 22px;
}

.section-features__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-features__content h2 {
    color: var(--fontcolor-primary);
    font-size: var(--fontsize-heading);
}

.section-features__content article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 142px;
    row-gap: 8px;
}

.section-features__content article picture {
    max-width: 86px;
    height: auto;
    border-radius: 15px;
    border: 2px solid var(--btncolor-blue);
}

.section-features__content article p {
    color: var(--fontcolor-primary);
    font-size: var(--fontsize-card-p);
    font-weight: var(--fontweight-regular);
}

.section-quotes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolor-quote);
    padding-block: 59px;
    padding-inline: 78px;
    box-sizing: border-box;
}

.section-quotes article {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.section-quotes article p {
    font-size: var(--fontsize-quote);
    font-weight: var(--fontweight-light);
    font-style: italic;
    line-height: 140%;
}

.section-quotes article span {
    font-size: var(--fontsize-quote);
    align-self: flex-end;
}

.section-cta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 71px;
    padding-block: 52px;
    box-sizing: border-box;
}

.section-cta article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgcolor-blue);
    border-radius: 4px;
    padding-inline: 52px;
    padding-block: 33px;
    box-sizing: border-box;

}

.section-cta__text-container {
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 344px;
}

.section-cta__text-container h3,
.section-cta__text-container p {
    color: var(--fontcolor-secondary);
}

.section-cta__text-container h3 {
    font-size: var(--fontsize-secondary);
    font-weight: var(--fontweight-extrabold);
}

.section-cta__text-container p {
    font-size: var(--fontsize-secondary);
    font-weight: var(--fontweight-regular);
}

footer {
    width: 100%;
    padding-block: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolor-dark);
}

footer span {
    color: var(--fontcolor-secondary);
    font-size: var(--fontsize-footer-small);
    font-weight: var(--fontweight-light);
}